@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Nemil R Shah  <br />
    UIN: 670897116 <br />
    Netid: nshah213 <br />
    Email: nshah213@uic.edu <br />
</address>

